
* {
  font-family: 'Playfair Display', serif;
}

body {
  background-image: linear-gradient(to bottom,#efefef,#ffffff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3em;
}

h2 {
  margin-bottom: 0;
  font-size: 2em;
}

hr {
  background-color: #bb3900;
  border: none;
  height: 2px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 20px;
}

hr.footer {
  height: 0px;
  border-radius: 2px;
  color: teal;
  border: 2px solid currentColor;
  width: 100%;
}

/***** Articles *****/

article {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
}

p {
  font-size: 16px;
  font-weight: 600;
}


/***** Images *****/

figure {
  margin: 0;
}

figcaption {
  font-family: 'Old Standard TT', serif;
  font-weight: bold;
}

article > figure > img {
  max-width: 100%;
  width: 100%;
  border: 1px solid black;
}

/***** Unicode Style *****/
p > span {
  font-size: 25px;
}

/***** Footer *****/

footer {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

a.social {

  text-decoration: none;
  color: black;
  
  border-radius: 15%;
  padding-left: .7em;
  align-self: center;
  flex-basis: 5%;
  
  font-size: 1.2em;
}

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
  padding-right: 10px
}

