
* {
  font-family: 'PT Sans', sans-serif;
}

body {
  background-image: linear-gradient(to bottom,#f5f5f5,#f1f1f1);
}

h1 {
  text-align: center;
  text-transform: capitalize;
  font-size: 3em;
}

article {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
}

/***** Images *****/

figure {
  margin: 0 10px 0 10px;
}

article > figure > img {
  max-width: 100%;
  width: 100%;
}


/***** Unicode Style *****/
p > span {
  font-size: 25px;
}